export API_HOST=0.0.0.0
export API_PORT=3344

export RTK_HOST=localhost
export RTK_PORT=28015
export RTK_DB=

export GOOGLE_APPLICATION_CREDENTIALS=
export GOOGLE_PROJECT_ID=
export GOOGLE_DATASTORE_NAMESPACE=

export AUTH0_CLIENT_ID=
export AUTH0_CLIENT_SECRET=
